
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 16px/19px "Open Sans", sans-serif;
background: #0fb692;
}

.container{
    padding: 20px;
    width: 650px;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
}

form {
display: inline-block;
}

input{
    width: 624px;
}

input[type=text] {
    padding: 10px;
}

#button{
    display: block;
    background-color:#eb1115;
    color:#ffffff;
    border-radius: 5px;
    text-align:center;
    margin-top: 5px;
    padding: 5px 50px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: #dfdfdf;}

.strike{text-decoration: line-through;}

li:hover{
    cursor: pointer;
}

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}